openapi: 3.0.0
info:
  title: Premium AI Image Upscaler API
  version: 0.1.9
  description: AI-powered image upscaler and enhancer available on RapidAPI
servers:
  - url: https://premium-ai-image-upscaler-api.p.rapidapi.com
    description: RapidAPI Server
paths:
  /upscale:
    get:
      summary: Upscale and enhance an image
      description: Takes an image URL and prompt to enhance and upscale the image using AI. Returns a JSON response with the URL to the processed image.
      parameters:
        - name: image_url
          in: query
          required: true
          schema:
            type: string
          description: URL of the image to process
          example: "https://storage.googleapis.com/apihub85/0_1.webp"
        - name: prompt
          in: query
          required: true
          schema:
            type: string
          description: Prompt to guide the AI enhancement
          example: "UHD 4k vogue style"
      security:
        - RapidAPI:
            - read
      responses:
        "200":
          description: Successfully processed image
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "success"
                  url:
                    type: string
                    description: URL to the processed image stored on S3
                    example: "https://api-lexica.s3.amazonaws.com/premium-ai-image-upscaler-api/97ed1614-7986-424f-ad9f-5a4335408e0e.png"
components:
  securitySchemes:
    RapidAPI:
      type: apiKey
      name: X-RapidAPI-Key
      in: header
      description: API key provided by RapidAPI for authentication